$primary-color-1: hsl(215, 51%, 70%);
$primary-color-2: hsl(178, 100%, 50%);
$main-BG-color: hsl(217, 54%, 11%);
$card-BG-color: hsl(216, 50%, 16%);
$line-color: rgb(47, 65, 91);
$neutral-color: hsl(0, 0%, 100%);
$card-shadow: hsla(217, 54%, 5%, 0.3);
$img-hover: hsla(178, 100%, 50%, 0.4);
